h1 {

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: orange;


}

p {


font-size: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button {

background-color: gray;
color: white;
font-size: 15px;
border-width: 3px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}